.popup {
  padding: var(--sm-space-4);
  display: grid;
  gap: var(--sm-space-3);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--sm-space-2);
}

.header h1 {
  margin: 0;
  font-size: var(--sm-text-xl);
}
